@model Historias_Clinicas_D.Models.Episodio

@{
    ViewData["Title"] = "Create";
}

<h4>Episodio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            @if (ViewBag.Paciente != null)
            {
                <input asp-for="PacienteId" class="form-control" type="hidden" value="@ViewBag.Paciente">
                    
            }
            else
            {
                <div class="form-group">
                    <label asp-for="PacienteId" class="control-label"></label>
                    <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteId"></select>
                </div>
                <br />
                <a class="btn btn-secondary" role="button" asp-action="Create" asp-controller="Pacientes" asp-route-returnUrl="/Episodios/Create">Crear Paciente</a>
            }
            </div>
            <div class="form-group">
            @if (ViewBag.Empleado != null)
            {
                <input asp-for="EmpleadoRegistraId" class="form-control" type="hidden" value="@ViewBag.Empleado">
                    
            }
            else
            {
                <div class="form-group">
                    <label asp-for="EmpleadoRegistraId" class="control-label"></label>
                    <select asp-for="EmpleadoRegistraId" class="form-control" asp-items="ViewBag.EmpleadoRegistraId"></select>
                </div>
            }
            </div>
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" /> |
                <a class="btn btn-secondary" role="button" onclick="history.go(-1)">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
