@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4  text-center">Centro Médico San Nicolás</h1>
<div class="text-center">
    <div id="bg">
        <img src="~/img/centro-medico.jpg" style="border-radius: 30px;" alt="turnos" width="1170" height="363">
    </div>
</div>
<div class="redMedica p-3">
    <div class="justify-content-center">      
        <div class="row justify-content-center p-3">
            <div class="col mx-auto text-center">
                <div class="imagenInfo">
                    <img src="./img/centro-de-llamadas.png" width="90" height="80">
                </div>
                <div class="textoInfo">
                    <p class="font-weight-bold">Atención Telefónica</p>
                    <p class="pBold">(011) 4980-2500</p>
                </div>
            </div>
            <div class="col mx-auto text-center">
                <div class="imagenInfo">
                    <img src="./img/ambulancia.png" width="90" height="80">
                </div>
                <div class="textoInfo">
                    <p class="font-weight-bold">Urgencias</p>
                    <p class="pBold">(011) 4980-0100</p>
                </div>
            </div>
        </div>            
    </div>
</div>
