@{
    ViewData["Title"] = "Nosotros";
}

<div class="text-center">
    <div id="bg">
        <img src="~/img/institucion.jpg" style="border-radius: 30px;" alt="turnos" width="1170" height="363">
    </div>
</div>
<br />
<div class="tab-content tabs-servicios text-center" id="" style="margin-bottom: 20px;">
    <div class="col-10">
        <h4 style="text-align:justify;">
            <strong>
                <span>La Institución</span>
            </strong>
        </h4>
        <p style="text-align:justify;">
            <span style="font-size:12.0pt;">&nbsp;</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:12.0pt;">A principios de 1970, un grupo de hombres y mujeres de la industria farmacéutica tuvo la idea de crear una entidad dedicada al cuidado de la salud del personal de dirección de las empresas del sector y comenzaron a trabajar arduamente hasta lograrlo. Así nació, en agosto de 1975, el Centro Médico San Nicolas, una entidad sustentable sin fines de lucro.</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:12.0pt;">Nuestro accionar trasciende el cuidado de la salud, trabajamos permanentemente para satisfacer y mejorar las expectativas de calidad de vida de los afiliados, a través de acciones de prevención y beneficios adicionales.</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:12.0pt;">Las empresas que nos han elegido para el cuidado de la salud de su personal y el de sus familias, destacan nuestra calidad, la atención personalizada y nuestros programas de prevención.</span>
        </p>
        <br />
        <h4 style="text-align:justify;">
            <strong>
                <span>Sobre nuestro Centro de Salud</span>
            </strong>
        </h4>
        <p style="text-align:justify;">
            <span style="font-size:12.0pt;">&nbsp;</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:12.0pt;">Desde su nacimiento, el Centro Médico San Nicolas ha tenido como filosofía brindar la más alta calidad médico-asistencial a través de una calificada red prestacional. Nuestras instalaciones brindan servicios de salud con características exclusivas para la atención médica ambulatoria. Bajo las premisas de calidad y servicio que nos caracterizan, este Centro Médico ofrece ventajas distintivas para todos los afiliados.</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:12.0pt;">Fundado en 1975, y abierto a toda la población, celebró durante el 2015 su <strong>40° Aniversario</strong> con un firme compromiso por sus valores y mirada hacia el futuro. </span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:12.0pt;">Nos enfocamos en el <strong>avance y el progreso</strong>, concentrados en mantener la calidad de nuestro servicio y profesionales. Hacemos hincapié en los sectores que consideramos sumamente importantes, manteniendo el equilibrio entre calidad y efectividad.</span>
        </p>
    </div>
</div>
