@using Historias_Clinicas_D.Models.Enums
@model Historias_Clinicas_D.ViewModels.RegistroEmpleado

@{
    ViewData["Title"] = "Create";
}

<h4>Médico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNI" class="control-label"></label>
                <input asp-for="DNI" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Password" value="@Constantes.DefaultPassword"/>
            <input type="hidden" asp-for="ConfirmPassword" value="@Constantes.DefaultPassword"/>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" /> |
                <a class="btn btn-secondary" role="button" onclick="history.go(-1)">Volver</a>
            </div>
        </form>
    </div>
</div>
